

.body {
    
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 225px;
    padding-right: 225px;
}

#cimsor {
    font-size: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 5px;

    background-image: url(tatabanya.PNG);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:25px ;
    padding-bottom:25px ;
    border: solid black 3px;

   
}

a{
    text-decoration: none;
    color: white;
}

#link {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding-top: 5x;
    padding-bottom: 5px;
}

#b {
    border: solid red 2px;
    border-radius: 5px;
}