

.body {
    margin-left: 251px ;
    margin-right: 251px ;
    font-family: Arial, Helvetica, sans-serif; 
}

#cimsor {
    background-color: darkolivegreen;
}

h1 {
    background-image: url(tatabanya.PNG);
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
    color: white;
    border: solid black 3px;

    font-weight: bold;
    text-align: center;
    font-size: 100px;
    letter-spacing: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.link {
    color: white;
    background-color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#b {
    border: solid red 2px;
    border-radius: 5px;
}